* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none
}

/* FONT TITLES */
@font-face {
    font-family: Bosch-display;
    src: url(../types/Bosch-Display.otf) format("opentype");
}

/* VARIABLES COLOR & ESTILO WEB
Los he metido en el archivo css de Bootstrap para facilitar lo del light/dark mode, así que les dejo aquí comentado las variables a usar para los colores. Solo tenemos que crear los html en light mode, ese es el default, así que solo les pondré los colores de ese modo :D 
Los que terminan en 'lm' son los que cambian de color. 

    --bs-bg-white-lm: #fffaf8;
    --bs-black-lm: #1f2222;
    --bs-blue-lm: #077488;
    --bs-white-og: #fffaf8;
    --bs-black-og: #1f2222;
    --bs-darkblue-og: #077488;
    --bs-lightblue-og: #69becd;
    --bs-yellow-og: #faae45;
    --bs-font-title: 'Bosch-display';
    --bs-font-body: "Roboto", serif;
*/

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4 {
    font-family: var(--bs-font-title);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4.5em;
}

h3 {
    font-size: 3.5em;
}

p {
    font-family: var(--bs-font-body);
    font-weight: 300;
}

body {
    background-color: var(--bs-bg-white-lm) !important;
    min-height: 100vh;
}

section {
    margin: 0 auto;
}

/* HEADER */

/* INTRO SECTION */

/* HISTORY SECTION */

/* DIVIDER/LINK TO CARGO SECTION */

/* DRINKS SECTION */

/* EVENTS SECTION */

/* REVIEWS SECTION */

/* DIVIDER 2 SECTION */

/* LASTEST NEWS SECTION */

/* RESERVATION SECTION */

/* FOOTER */

/* MEDIA QUERIES */

/* NAV */
.toggle {
    display: block;
    cursor: pointer;
}
.toggle input {
    display: none;
}
.toggle input + div {
    width: 20px;
    height: 14px;
    position: relative;
}
.toggle input + div div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.5s ease;
}
.toggle input + div div span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
.toggle input + div div span:first-child {
    top: 0;
}
.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
    top: 0;
}
.toggle input + div div span:last-child {
    bottom: 0;
}
.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
    bottom: 0;
}
.toggle input + div div span:before, .toggle input + div div span:after {
    content: '';
    display: block;
    width: 47%;
    height: 2px;
    border-radius: 1px;
    background: var(--bs-blue-lm);
    position: absolute;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}
.toggle input + div div span:before {
    left: 0;
    transform-origin: 0 50%;
    transform: translate(1px, 0) scaleX(1.1);
}
.toggle input + div div span:after {
    right: 0;
    transform-origin: 100% 50%;
    transform: translate(-1px, 0) scaleX(1.1);
}
.toggle input + div svg {
    display: block;
    fill: none;
    stroke: var(--bs-blue-lm);
    stroke-width: 2px;
    width: 44px;
    height: 44px;
    stroke-linecap: round;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    stroke-dasharray: 0 82.801 8 82.801;
    stroke-dashoffset: 82.801;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    transform: scale(1);
    transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}
.toggle input + div svg:nth-child(3) {
    transform: rotate(180deg) scale(1);
}
.toggle input:checked + div div {
    transform: rotate(90deg);
}
.toggle input:checked + div div span:before, .toggle input:checked + div div span:after {
    background: var(--bs-blue-lm);
}
.toggle input:checked + div div span:first-child:before {
    transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:first-child:after {
    transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:before {
    transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:after {
    transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div svg {
    stroke-dashoffset: 62;
    stroke-dasharray: 0 82.801 62 82.801;
    transform: rotate(90deg);
    stroke: var(--bs-blue-lm);
}
.toggle input:checked + div svg:nth-child(3) {
    transform: rotate(270deg);
}

.menuHidden{
    top: -100% !important;
    transition: 0.5s ease-in;
    backdrop-filter: blur(6px);
    opacity: 0;
}
.menuShown{
    top: 0% !important;
    transition: 0.5s ease-in;
    backdrop-filter: blur(6px);
    opacity: 1;
}

.menuItem {
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
  }

.animate{
    animation: list-show .4s 1 ease-out;
}

  @keyframes list-show {
      from {
          visibility: hidden;
          opacity: 0;
          transform: translateY(20px);
      }
      to {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  #switchMode .bi::before,[class*=" bi-"]::before,[class^=bi-]::before {
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-top: 15px;
    margin-right: 80px ;
    vertical-align: 0 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--bs-blue-lm);
    transition: 0.1s ease-in;
}