* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FONT TITLES */
@font-face {
    font-family: Bosch-display;
    src: url(../types/Bosch-Display.otf) format("opentype");
}

/* VARIABLES COLOR & ESTILO WEB
Los he metido en el archivo css de Bootstrap para facilitar lo del light/dark mode, así que les dejo aquí comentado las variables a usar para los colores. Solo tenemos que crear los html en light mode, ese es el default, así que solo les pondré los colores de ese modo :D 
Los que terminan en 'lm' son los que cambian de color. 

    --bs-bg-white-lm: #fffaf8;
    --bs-black-lm: #1f2222;
    --bs-blue-lm: #077488;
    --bs-white-og: #fffaf8;
    --bs-black-og: #1f2222;
    --bs-darkblue-og: #077488;
    --bs-lightblue-og: #69becd;
    --bs-yellow-og: #faae45;
    --bs-font-title: 'Bosch-display';
    --bs-font-body: "Roboto", serif;
*/

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4 {
    font-family: var(--bs-font-title);
}

h1 {
    font-size: 5em !important;
}

h2 {
    font-size: 4.5em !important;
}

h3 {
    font-size: 3.5em !important;
}

p {
    font-family: var(--bs-font-body);
    font-weight: 300 !important;
}

section {
    margin: 0 auto;
}

.bg-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-video > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .bg-video > video {
        height: 300%;
        top: -100%;
    }
}
  
@media (max-aspect-ratio: 16/9) {
    .bg-video > video {
        width: 300%;
        left: -100%;
    }
}

/* HEADER */
header {
    height: 100vh;
}

/* INTRO SECTION */
#intro {
    margin: 6em 0;
    height: 100vh;
    display: flex;
}

.general-cont {
    position: relative;
    display: inline-block;
}

.image-container {
    display: block;
    width: 90% !important;
    height: auto;
}

.logo-container {
    position: absolute;
    top: 95%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 60% !important;
    height: auto;
    z-index: 2;
}

/* HISTORY SECTION */
#history {
    padding: 6em 0;
}

.image-h {
    width: 90%;
    margin-bottom: 4em;
}

/* DIVIDER */

/* DRINKS SECTION */
#popular {
    margin-bottom: 6em;
}

/* EVENTS SECTION */ 
  .subtitle {
    font-size: 1.5em;
  }

  .row-events {
    height: 150vh;
  }
  
  .event-card {
    position: relative;
    overflow: hidden;
  }
  
  .event-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .event-card:hover img {
    transform: scale(1.05);
  }

  .gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, var(--bs-black-og), transparent);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .event-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .event-info h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--bs-font-title);
  }
  
  .event-info p {
    margin: 0;
    font-size: 0.9rem;
  }
  
/* REVIEWS SECTION */

/* DIVIDER 2 SECTION */

/* LASTEST NEWS SECTION */

/* RESERVATION SECTION */

/* FOOTER */
#logo-footer {
    width: 30%;
    margin: 1.2em 0;
}

.divider-footer {
    height: 2px;
}

.btn {
    position: relative;
}

.btn-i::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--bs-blue-lm);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.btn-i:hover::after {
    transform: scale(1, 1);
}

.form-info {
    background-color: transparent !important;
    border: none !important;
    border-bottom: solid 1.5px var(--bs-lightblue-og) !important;
    border-radius: 0 !important;
    color: var(--bs-white-og) !important;
    font-size: 0.9em !important;
}

.form-info::placeholder {
    color: var(--bs-white-og) !important;
    opacity: 0.8 !important;
    font-family: var(--bs-font-body) !important;
    font-size: 0.9em !important;
}

.divider-ver {
    width: 2px !important;
    padding: 0 !important;
}

.info-text {
    font-size: 0.8em;
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fffaf8' %3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}

/* MEDIA QUERIES */