* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FONT TITLES */
@font-face {
    font-family: Bosch-display;
    src: url(../types/Bosch-Display.otf) format("opentype");
}

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4 {
    font-family: var(--bs-font-title);
}

h1 {
    font-size: 5em;
}

p {
    font-family: var(--bs-font-body);
    font-weight: 300;
}

body {
    background-color: var(--bs-bg-white-lm) !important;
}

.image-container {
    position: relative;
    width: 100%;
    height: 25%; /* Tamaño original */
    overflow: hidden;
    transition: height 0.5s ease; /* Transición para la expansión */
}

/* Expande el contenedor al hacer hover */
.image-container:hover {
    height: 40%; /* Expande el contenedor */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Degradado de transparente a negro */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    padding: 20px;
    transition: justify-content 0.5s ease; /* Transición de contenido */
}

/* Mantener el título y párrafo en una posición fija */
.text-content {
    position: absolute; /* Fija el texto en su lugar */
    top: 3.5rem; /* Ajusta la posición según lo necesites */
    left: 5%; /* Mantén la alineación a la izquierda */
    z-index: 2; /* Asegura que el texto esté por encima de otros elementos */
    text-align: left; 
    max-width: 40%;
    transition: opacity 0.5s ease; /* Transición para desaparecer */
}

/* Mantén el texto visible siempre */
.image-container:hover .text-content {
    opacity: 1;
    visibility: visible;
}

/* Ticket-info */
.ticket-info {
    opacity: 0; /* Invisible inicialmente */
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición para aparecer */
    width: 100%;
    margin-top: 6rem;
    text-align: left;
    padding-left: 4%; /* Alineación igual que el texto inicial */
    padding-right: 4%; /* Alineación igual que el texto inicial */
}

/* Aparece la sección de ticket-info al hacer hover */
.image-container:hover .ticket-info {
    opacity: 1;
    visibility: visible; /* Aparece al hacer hover */
}

.ticket-info h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ticket-info .horizontal-line {
    border-top: 1px solid white;
    margin: 10px 0;
}

.ticket-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-details p {
    margin: 0;
    font-size: 0.9rem;
}

.ticket-details .price-and-btn {
    display: flex;
    align-items: center;
    gap: 10px; /* Se agrega un espacio entre los elementos */
}

.ticket-details .price {
    font-weight: bold;
    font-size: 1rem;
}

.ticket-details .btn-square {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Elimina esta línea para quitar las esquinas redondeadas */
    border-radius: 0; /* Asegúrate de que esté en 0 */
}

.footer-info {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding-left: 4.5%; /* Alineación igual que el texto inicial */
    
}

.footer-info .divider {
    height: 16px;
    width: 1px;
    background-color: white;
    margin: 0 5px;
}

/* Modal */
.modal-info {
    border-radius: 0 !important;
    background-color: #000; /* Fondo negro para el modal */
    color: #fff; /* Texto blanco */
}

/* Estilo de la cabecera del modal */
.modal-info .modal-header {
    border-bottom: 1px solid #444; /* Línea separadora tenue */
    padding-bottom: 1rem;
}

.modal-info .modal-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* Botón de cierre del modal */
.modal-info .btn-close {
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    color: white !important; /* El símbolo de la X en blanco */
    border: none;
    opacity: 1; /* Hace el botón de cierre completamente visible */
}

.modal-info .btn-close:hover {
    background-color: #666; /* Efecto hover más claro */
}

/* Líneas horizontales - Unificadas */
.horizontal-line {
    border-top: 1px solid #fff; /* Línea blanca visible */
    margin: 15px 0; /* Espaciado superior e inferior */
}

/* Información de pago */
.paying-info {
    margin-bottom: 2rem;
}

.paying-info h2,
.summary h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Detalles del Ticket */
.ticket-details {
    margin-bottom: 1rem;
}

.ticket-details p {
    font-size: 1rem;
}

.price-and-btn .price {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Botón */
.btn {
    background-color: #007bff; /* Fondo azul */
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

.btn-custom {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    padding: 0 0.5rem;
    cursor: pointer;
}
.btn-custom:focus {
    outline: none;
    box-shadow: none;
}
.btn-custom:hover {
    color: #2f00ff; /* Efecto hover para los botones */
}
#quantity {
    font-size: 1.5rem;
    color: #fff;
    padding: 0 1rem;
}

/* Zona de contenido del modal */
.modal-body {
    font-family: "Roboto", sans-serif; /* Fuente del cuerpo */
    font-size: 0.95rem;
    line-height: 1.5;
}

.ticket-info {
    opacity: 0; /* Invisible inicialmente */
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición para aparecer */
    width: 100%;
    margin-top: 6rem;
    text-align: left;
    padding-left: 4%; /* Alineación igual que el texto inicial */
    padding-right: 4%; /* Alineación igual que el texto inicial */
}

/* Aparece la sección de ticket-info al hacer hover */
.modal-body:hover .ticket-info {
    opacity: 1;
    visibility: visible; /* Aparece al hacer hover */
}

/* Estilo adicional de la información */
.div-info {
    margin-bottom: 1.5rem;
}

.div-info p:first-child {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.div-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc; /* Texto más claro */
}

/* Footer */
#logo-footer {
    width: 30%;
}

.divider-footer {
    height: 2px;
}

.form-info {
    background-color: transparent !important;
    border: solid 1.5px var(--bs-lightblue-og) !important;
    border-radius: 0 !important;
    color: var(--bs-white-og) !important;
    font-size: 0.9em !important;
}

.form-info::placeholder {
    color: var(--bs-white-og) !important;
    opacity: 0.8 !important;
    font-family: var(--bs-font-body) !important;
    font-size: 0.9em !important;
}

/* Responsive */
@media (max-width: 768px) {
    .modal-info .modal-dialog {
        margin: 1rem;
    }

    .modal-info .col-8, .modal-info .col-4 {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .modal-info .col-4 {
        margin-top: 1rem;
    }
}


/* FOOTER */
#logo-footer {
    width: 30%;
}

.divider-footer {
    height: 2px;
}

.form-info {
    background-color: transparent !important;
    border: solid 1.5px var(--bs-lightblue-og) !important;
    border-radius: 0 !important;
    color: var(--bs-white-og) !important;
    font-size: 0.9em !important;
}

.form-info::placeholder {
    color: var(--bs-white-og) !important;
    opacity: 0.8 !important;
    font-family: var(--bs-font-body) !important;
    font-size: 0.9em !important;
}
