* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FONT TITLES */
@font-face {
    font-family: Bosch-display;
    src: url(../types/Bosch-Display.otf) format("opentype");
}

/* VARIABLES COLOR & ESTILO WEB
Los he metido en el archivo css de Bootstrap para facilitar lo del light/dark mode, así que les dejo aquí comentado las variables a usar para los colores. Solo tenemos que crear los html en light mode, ese es el default, así que solo les pondré los colores de ese modo :D
Los que terminan en 'lm' son los que cambian de color. 

    --bs-bg-white-lm: #fffaf8;
    --bs-black-lm: #1f2222;
    --bs-blue-lm: #077488;
    --bs-white-og: #fffaf8;
    --bs-black-og: #1f2222;
    --bs-darkblue-og: #077488;
    --bs-lightblue-og: #69becd;
    --bs-yellow-og: #faae45;
    --bs-font-title: 'Bosch-display';
    --bs-font-body: "Roboto", serif;
*/

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4 {
    font-family: var(--bs-font-title);
}

h1 {
    font-size: 5em !important;
}

h2 {
    font-size: 4.5em !important;
}

h3 {
    font-size: 3.5em !important;
}

p {
    font-family: var(--bs-font-body);
    font-weight: 300;
}

body {
    background-color: var(--bs-bg-white-lm) !important;
}

section {
    margin: 0 auto;
}

/* HEADER */
.gallery-header {
    height: 22em;
}


/* EVENT 1 SECTION NEW YEAR */
.masonry-column {
    padding: 0 1px;
    padding-bottom: 2em;
  }

.img-gallery-1  img {
    padding-bottom: 2em;
}

.img-gallery  img {
    padding-bottom: 2em;
}

  
/* EVENT 2 SECTION */

/* EVENT 3 SECTION */

/* FOOTER */

/* MEDIA QUERIES */
