* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FONT TITLES */
@font-face {
    font-family: Bosch-display;
    src: url(../types/Bosch-Display.otf) format("opentype");
}

img {
    width: 100%;
    vertical-align: middle;
}

:root {
    --bs-bg-white-lm: #fffaf8;
    --bs-black-lm: #1f2222;
    --bs-blue-lm: #077488;
    --bs-white-og: #fffaf8;
    --bs-black-og: #1f2222;
    --bs-darkblue-og: #077488;
    --bs-lightblue-og: #69becd;
    --bs-yellow-og: #faae45;
    --bs-font-title: 'Bosch-display';
    --bs-font-body: "Roboto", serif;
}
  

h1,
h2,
h3,
h4 {
    font-family: var(--bs-font-title);
}

h1 {
    font-size: 5em;
}

p {
    font-family: var(--bs-font-body);
    font-weight: 300;
}

body {
    background-color: var(--bs-bg-white-lm) !important;
}

#reservations {
    padding: 20%;
}

.reservationstitle {
    color: var(--bs-blue-lm);
    font-size: 5rem;
}
.image-container {
    position: relative;
    width: 100%;
    height: 60%; 
    overflow: clip;
    transition:  0.5s ease;
}

/* Expande el contenedor al hacer hover */
.image-container:hover {
    height: 100%;
}

/* Contenedor de las imágenes */
#reservationscards .reservationimages .container-fluid .row {
    display: flex;
    gap: 0; /* Eliminar espacio entre las imágenes */
    padding: 0;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Degradado de transparente a negro */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px;
    transition: justify-content 0.5s ease;
}

.text-title {
    color: var(--bs-blue-lm);
}

.text-subtitle {
    color: var(--bs-white-og);
}

/* Mantener el título y párrafo en una posición fija */
.text-content {
    position: absolute; 
    top: 3.5rem; 
    left: 5%; 
    z-index: 2; 
    text-align: left; 
    max-width: 40%;
    transition: opacity 0.5s ease; 
}

/* Mantén el texto visible siempre */
.image-container:hover .text-content {
    opacity: 1;
    visibility: visible;
}

/* Ticket-info */
.ticket-info {
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    width: 100%;
    margin-top: 6rem;
    text-align: left;
    padding-left: 4%; 
    padding-right: 4%; 
}

/* Aparece la sección de ticket-info al hacer hover */
.image-container:hover .ticket-info {
    opacity: 1;
    visibility: visible; 
}

.ticket-info h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ticket-info .horizontal-line {
    border-top: 1px solid var(--bs-blue-lm);
    margin: 10px 0;
}

.ticket-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-details p {
    margin: 0;
    font-size: 0.9rem;
}

.ticket-details .price-and-btn {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.ticket-details .price {
    font-weight: bold;
    font-size: 1rem;
}

.ticket-details .btn-square {
    border: 1px solid var(--bs-white-og);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0; 
}

.footer-info {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding-left: 4.5%; 
    
}

.footer-info .divider {
    height: 16px;
    width: 1px;
    background-color: var(--bs-white-og);
    margin: 0 5px;
}

/* Modal */
.modal-info {
    border-radius: 0 !important;
    background-color: #000; 
    color: var(--bs-white-og); 
}

/* Estilo de la cabecera del modal */
.modal-info .modal-header {
    border-bottom: 1px solid #444; 
    padding-bottom: 1rem;
}

.modal-info .modal-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* Botón de cierre del modal */
.modal-info .btn-close {
    background-color: transparent; 
    border: none; 
    color: var(--bs-white-og) !important; 
    border: none;
    opacity: 1; 
}

.modal-info .btn-close:hover {
    background-color: #666; 
}

.horizontal-line {
    border-top: 1px solid var(--bs-blue-lm); 
    margin: 15px 0; 
}

.paying-info {
    margin-bottom: 2rem;
}

.paying-info h2,
.summary h2 {
    margin-bottom: 1rem;
}

/* Detalles del Ticket */
.ticket-details {
    margin-bottom: 1rem;
}

.ticket-details p {
    font-size: 1rem;
}

.price-and-btn .price {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Botón */
.btn {
    background-color: #007bff; 
    color: var(--bs-white-og);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; 
}

.btn-custom {
    background: none;
    border: none;
    color: var(--bs-white-og);
    font-size: 1rem;
    line-height: 1;
    padding: 0 0.5rem;
    cursor: pointer;
}
.btn-custom:focus {
    outline: none;
    box-shadow: none;
}
.btn-custom:hover {
    color: var(--bs-blue-lm); 
}
#quantity {
    font-size: 1rem;
    color: var(--bs-white-og);
    padding: 0 1rem;
}

.btn-square {
    border: 1px solid var(--bs-blue-lm) !important; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-align: center; 
    display: inline-block; 
}

.btn-square:hover {
    background: var(--bs-blue-lm); 
}

/* MODAL */
.modal-header {
    position: relative; /* Permite ajustes dentro del header */
}

.modal-title {
    display: flex;
    flex-direction: column; /* Asegura que el título y subtítulo estén en columna */
    align-items: flex-start; /* Alinea ambos al lado izquierdo */
    padding-left: 1rem;
}

.text-title-modal {
    font-size: 3rem; /* Ajusta según tus necesidades */
    color: var(--bs-white);
}

.text-subtitle-modal {
    font-size: 1rem; /* Ajusta según tus necesidades */
    color: var(--bs-gray-300);
}

.modal-body {
    font-family: "Roboto", sans-serif; 
    font-size: 0.95rem;
    line-height: 1.5;
}

.ticket-info {
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    width: 100%;
    margin-top: 6rem;
    text-align: left;
    padding-left: 4%; 
    padding-right: 4%; 
}

.vertical-custom {
    border-right: 1px solid var(--bs-blue-lm); 
    padding-right: 1rem;
    height: 100%; 
}

/* Aparece la sección de ticket-info al hacer hover */
.modal-body:hover .ticket-info {
    opacity: 1;
    visibility: visible; 
}

/* Estilo adicional de la información */
.div-info {
    margin-bottom: 1.5rem;
}

.div-info p:first-child {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.div-info p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--bs-white-og); 
}

#pay-button {
    background: none; 
    border: 1px solid var(--bs-blue-lm); 
    border-radius: 0; 
    color: var(--bs-white-og); 
    font-size: 1rem; 
    font-family: var(--bs-font-title);
    text-transform: uppercase; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    width: 100%; 
    text-align: center; 
    display: inline-block; 
  }
  
  #pay-button:hover {
    background: var(--bs-blue-lm); ; 
    color: var(--bs-white-og); 
  }

  .download {
    color: var(--bs-white-og);
    font-size: 0.8rem; 
    font-family: var(--bs-font-title);
    padding-top: 1.1rem;
  }
  

/* Footer */
#logo-footer {
    width: 30%;
}

.divider-footer {
    height: 2px;
}

.form-info {
    background-color: transparent !important;
    border: solid 1.5px var(--bs-lightblue-og) !important;
    border-radius: 0 !important;
    color: var(--bs-white-og) !important;
    font-size: 0.9em !important;
}

.form-info::placeholder {
    color: var(--bs-white-og) !important;
    opacity: 0.8 !important;
    font-family: var(--bs-font-body) !important;
    font-size: 0.9em !important;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .modal-info .modal-dialog {
        margin: 1rem;
    }

    .modal-info .col-8, .modal-info .col-4 {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .modal-info .col-4 {
        margin-top: 1rem;
    }
}


/* FOOTER */
.footer {
    padding-top: 2%;
}

#logo-footer {
    width: 30%;
}

.divider-footer {
    height: 2px;
}

.form-info {
    background-color: transparent !important;
    border: solid 1.5px var(--bs-lightblue-og) !important;
    border-radius: 0 !important;
    color: var(--bs-white-og) !important;
    font-size: 0.9em !important;
}

.form-info::placeholder {
    color: var(--bs-white-og) !important;
    opacity: 0.8 !important;
    font-family: var(--bs-font-body) !important;
    font-size: 0.9em !important;
}
